@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
}

.left-column {
  flex: 0.7;
  background-color: black;


}

.content-column {
  /* flex: 1; */ background-color: black; 
  width: 45%;
  border-inline: 2px solid grey;
}

.right-column {
  flex: 1;  background-color: black;

}